/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        enabled: false
    ]
    
    withName: FASTP {
        ext.args = [
            "-q ${params.fastp_qualified_quality}",
            "--cut_front",
            "--cut_tail",
            "--cut_mean_quality ${params.fastp_cut_mean_quality}",
            "--length_required ${params.reads_minlength}"
        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/QC_shortreads/fastp/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "*.{html,json}",
                enabled: true
            ],
            [
                path: { "${params.outdir}/QC_shortreads/fastp/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "*.fastq.gz",
                enabled: params.save_clipped_reads
            ]
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml',
            enabled: true
        ]
    }

    withName: KRAKEN2_KRAKEN2 {
        ext.args = ["--use-names",
            "--confidence ${params.kraken2confidence}",
            "--report-zero-counts"
            ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/kraken2" },
            mode: params.publish_dir_mode,
            pattern: '*kraken2*',
            enabled: true
        ]

    }

    withName: PARSE_KRAKEN2REPORT {
        publishDir = [
            path: { "${params.outdir}/kraken2/taxonomy" },
            mode: params.publish_dir_mode,
            pattern: '*.{json,txt}',
            enabled: true
        ]
    }

    withName: ISOLATE_IDS_FROM_KRAKEN2_TO_BLASTN {
        publishDir = [
            path: { "${params.outdir}/kraken2/isolated" },
            mode: params.publish_dir_mode,
            pattern: '*classified.txt',
            enabled: true
        ]

    }

    withName: BLAST_MAKEBLASTDB {
        ext.args = '-dbtype "nucl"'
    }

    withName: BLAST_BLASTN {
        ext.args = ["-outfmt \"${params.blast_outformat}\""].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/blast" },
            mode: params.publish_dir_mode,
            pattern: '*blastn.txt',
            enabled: true
        ]
    }
    
    withName: FILTER_BLASTN_IDENTCOV {
        publishDir = [
            path: { "${params.outdir}/blast/filteredIdentCov" },
            mode: params.publish_dir_mode,
            pattern: '*identcov.txt',
            enabled: true
        ]
    }

    withName: SUMMARY_BLASTN {
        publishDir = [
            path: { "${params.outdir}/blast/summary" },
            mode: params.publish_dir_mode,
            pattern: '*.blastn_summary.tsv',
            enabled: true
        ]
    }

   withName: SUMMARY_KRAKEN2 {
        publishDir = [
            path: { "${params.outdir}/kraken2/summary" },
            mode: params.publish_dir_mode,
            pattern: '*.kraken2_summary.tsv',
            enabled: true
        ]
    }

   withName: SUMMARIZER {
        publishDir = [
            path: { "${params.outdir}/summary" },
            mode: params.publish_dir_mode,
            pattern: 'summary.tsv',
            enabled: true
        ]
    }
    
    withName: MULTIQC {
        publishDir = [
            path: { "${params.outdir}/MultiQC" },
            mode: params.publish_dir_mode,
            pattern: "multiqc*",
            enabled: true
        ]
    }
}
