/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test skipping blastn.

    Use as follows:
        nextflow run nf-core/detaxizer -profile test_skip_blastn,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile skipping blastn step'
    config_profile_description = 'Minimal test dataset to check pipeline function when skipping blastn'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input               = "https://raw.githubusercontent.com/nf-core/test-datasets/detaxizer/samplesheets/samplesheet.csv"

    // Kraken2 test db
    kraken2db           = "https://raw.githubusercontent.com/nf-core/test-datasets/detaxizer/test_data/minigut_kraken.tgz"
    kraken2confidence   = 0.00
    tax2filter          = 'unclassified'

    // Workflow parameters
    enable_filter       = true
    skip_blastn         = true
}
