/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/detaxizer -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input                            = params.pipelines_testdata_base_path + 'detaxizer/samplesheets/samplesheet.csv'

    // Genome references
    fasta_bbduk                      = params.pipelines_testdata_base_path + 'detaxizer/host_reference/genome.hg38.chr21_10000bp_region.fa'

    // Run bbduk and kraken2
    classification_bbduk             = true
    classification_kraken2           = true

    // Kraken2 test db
    kraken2db                        = params.pipelines_testdata_base_path + 'detaxizer/test_data/minigut_kraken.tgz'
    kraken2confidence                = 0.00
    tax2filter                       = 'unclassified'

    enable_filter                    = true
    generate_downstream_samplesheets = true
    generate_pipeline_samplesheets   = "taxprofiler,mag"
}
