/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/detaxizer -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name                     = 'Full test profile'
    config_profile_description              = 'Full test dataset to check pipeline function'
    // Input data for full size test
    input                                   = params.pipelines_testdata_base_path + 'detaxizer/samplesheets/samplesheet.full.csv'

    // Genome references
    fasta_bbduk                             = "s3://ngi-igenomes/igenomes/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa"

    // Kraken2 test db
    kraken2db                               = "https://genome-idx.s3.amazonaws.com/kraken/k2_standard_08gb_20240904.tar.gz"
    kraken2confidence                       = 0.00
    tax2filter                              = 'Homo sapiens'

    classification_bbduk                    = true
    classification_kraken2                  = true

    enable_filter                           = true
    classification_kraken2_post_filtering   = true
    output_removed_reads                    = true

    // samplesheet generation
    generate_downstream_samplesheets        = true
    generate_pipeline_samplesheets          = "taxprofiler,mag"
}
