/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test filtering the preprocessed fastq files.

    Use as follows:
        nextflow run nf-core/detaxizer -profile test_filter_preprocessed,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile filter preprocessed'
    config_profile_description = 'Minimal test dataset to check pipeline function when using preprocessed reads in the filtering step'

    // Input data
    input                             = params.pipelines_testdata_base_path + "detaxizer/samplesheets/samplesheet.csv"

    // Kraken2 test db
    kraken2db                         = params.pipelines_testdata_base_path + "detaxizer/test_data/minigut_kraken.tgz"
    kraken2confidence                 = 0.00
    tax2filter                        = 'unclassified'

    // Workflow parameters
    preprocessing                     = true
    filter_trimmed                    = true

    // samplesheet generation
    generate_downstream_samplesheets  = true
    generate_pipeline_samplesheets    = "taxprofiler,mag"
}
